hr {
	border-style: dotted none none;
	width:50%;
	color:white;
	border-width:5px;
}

body {
	background-color: #4cc9f0;
}

h1 {
  color: #ffff3f;
  font-size: 25px;
}

p{
  color: #3a0ca3;
  font-size: 20px;
}
i {
  font-style: bold;
  font-family: cursive;
}
li {
  color: #197278
}
button {
  color: white;
  background-color: #3a0ca3;
  border-radius: 5%;
  padding: 10px;
  width: 30%;
}
